.pagina{
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 105vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}



.img{
    margin-right: 5%;
    margin-top: 20%;
}

.back{
    position: fixed;
    left: 8%;
    top: 4%;
}

.container{
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 5px;
    box-shadow: 0 2px 5% rgba(0, 0, 0, 0.3);
    width: 38rem;
    max-width: 50%;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    right: 5%;
    padding-bottom: 4%;
    position: relative;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    margin-right: 0.4%;
}